<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" type= "text/css" href= "/static/style.css">
    <script src="myscripts.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type = "text/javascript" src="/static/myscripts.js"></script>
    <title>My Cat</title>
</head>
<body>
    <div id="Nav">
        <a href="/">
            <img id="Logo" src="https://seeklogo.com/images/C/cute-dog-logo-9A80384024-seeklogo.com.png"/>
        </a>
        <h1>Dogs of Earth</h1>
        <input id="data1" list="browsers" name="myBrowser" onChange="myFunction()"/>
        <datalist id="browsers">
          {% for breed in list.message %}
          <option value="{{breed}}">
          {% endfor %}
        </datalist>
    </div> 

    <div id="CatPosts">
        {% for cat in data.message %}
        <div class="CatCard">
            <img src="{{cat}}" class="CatImg"/>
        </div>
        {% endfor %}
    </div>
</body>
</html>